* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    margin-left: 200px;
    padding-top: 50px;
    /* Adjust padding-top to avoid overlap with topnav */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
}