* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    margin-left: 200px;
    padding-top: 50px;
    /* Adjust padding-top to avoid overlap with topnav */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
}

.title {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
}

/* CSS for the box */
#clickable-box {
    width: 200px;
    height: 100px;
    background-color: lightblue;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 20px;
}