/* CSS styles */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 240px;
    max-width: 1600px;
    /* Adjust the max-width as needed */
    /* overflow-x: auto; */
    /* Enable horizontal scrolling for overflow */
/* }  */

/* Styles for panel 1 */
.panel {
    flex: 1;
    margin-right: 20px;
}

/* Styles for panel 2 */
.panel:last-child {
    margin-right: 0;
    /* Removing margin for the last panel */
}

.card .card-content {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
}

.participant-row {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.participant-rowTable {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.participant-row:hover {
    background-color: #f0f0f0;
    /* Change this to the desired hover color */
}

.participant-row:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.participant-label {
    cursor: pointer;
}

/* Modal CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: default;
}

.modal-content {
    background-color: #fef4f4;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    text-align: center;
    cursor: pointer;
}

.form-check-input {
    margin-right: 5px;
    /* Adjust margin as needed */
}

/* Change the checkbox color */
.form-check-input[type="checkbox"]:not(:checked) {
    background-color: #333;
    border-color: #333;
}

/* Change the checkbox color when checked */
.form-check-input[type="checkbox"]:checked {
    background-color: #333;
    border-color: #333;
}

/* Change the checkmark color */
.form-check-input[type="checkbox"]:checked::before {
    background-color: #fff;
}

.bracket {
    display: inline-block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 0;
  }
  .bracket .round {
    display: inline-block;
    vertical-align: middle;
  }
  .bracket .round .winners > div {
    display: inline-block;
    vertical-align: middle;
  }
  .bracket .round .winners > div.matchups .matchup:last-child {
    margin-bottom: 0 !important;
  }
  .bracket .round .winners > div.matchups .matchup .participants {
    border-radius: 0.25rem;
    overflow: hidden;
    border: 1px solid black;
  }
  .bracket .round .winners > div.matchups .matchup .participants .participant {
    box-sizing: border-box;
    color: #858585;
    border-left: 0.25rem solid #858585;
    background: white;
    width: 14rem;
    height: 3rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  }
  .bracket .round .winners > div.matchups .matchup .participants .participant.winner {
    color: #60c645;
    border-color: #60c645;
  }
  .bracket .round .winners > div.matchups .matchup .participants .participant.loser {
    color: #dc563f;
    border-color: #dc563f;
  }
  .bracket .round .winners > div.matchups .matchup .participants .participant:not(:last-child) {
    border-bottom: thin solid #f0f2f2;
  }
  .bracket .round .winners > div.matchups .matchup .participants .participant span {
    margin: 0 1.25rem;
    line-height: 1;
    font-size: 1rem;
    font-family: "Roboto Slab";
  }
  .bracket .round .winners > div.connector.filled .line, .bracket .round .winners > div.connector.filled.bottom .merger:after, .bracket .round .winners > div.connector.filled.top .merger:before {
    border-color: #60c645;
  }
  .bracket .round .winners > div.connector .line, .bracket .round .winners > div.connector .merger {
    box-sizing: border-box;
    width: 2rem;
    display: inline-block;
    vertical-align: top;
  }
  .bracket .round .winners > div.connector .line {
    border-bottom: thin solid #c0c0c8;
    height: 4rem;
  }
  .bracket .round .winners > div.connector .merger {
    position: relative;
    height: 8rem;
  }
  .bracket .round .winners > div.connector .merger:before, .bracket .round .winners > div.connector .merger:after {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    border: 0 solid;
    border-color: #c0c0c8;
  }
  .bracket .round .winners > div.connector .merger:before {
    border-right-width: thin;
    border-top-width: thin;
  }
  .bracket .round .winners > div.connector .merger:after {
    border-right-width: thin;
    border-bottom-width: thin;
  }
  .bracket .round.quarterfinals .winners:not(:last-child) {
    margin-bottom: 2rem;
  }
  .bracket .round.quarterfinals .winners .matchups .matchup:not(:last-child) {
    margin-bottom: 2rem;
  }
  .bracket .round.semifinals .winners .matchups .matchup:not(:last-child) {
    margin-bottom: 10rem;
  }
  .bracket .round.semifinals .winners .connector .merger {
    height: 16rem;
  }
  .bracket .round.semifinals .winners .connector .line {
    height: 8rem;
  }
  .bracket .round.finals .winners .connector .merger {
    height: 3rem;
  }
  .bracket .round.finals .winners .connector .line {
    height: 1.5rem;
  }

  /* .one-lh{
    line-height: 1!important;
  } */