{% extends "layout.html" %}

{% block content %}
<style>
    html * {
        box-sizing: border-box;
    }

    p {
        margin: 0;
    }

    .upload__box {
        padding: 20px;
    }

    .upload__inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .upload__btn {
        display: inline-block;
        font-weight: 600;
        color: #fff;
        text-align: center;
        min-width: 116px;
        padding: 5px;
        transition: all 0.3s ease;
        cursor: pointer;
        border: 2px solid;
        background-color: #4045ba;
        border-color: #4045ba;
        border-radius: 10px;
        line-height: 26px;
        font-size: 14px;
    }

    .upload__btn:hover {
        background-color: unset;
        color: #4045ba;
        transition: all 0.3s ease;
    }

    .upload__btn-box {
        margin-bottom: 10px;
    }

    .upload__img-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    .upload__img-box {
        width: 200px;
        padding: 0 10px;
        margin-bottom: 12px;
    }

    .upload__img-close {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
        line-height: 24px;
        z-index: 1;
        cursor: pointer;
    }

    .upload__img-close:after {
        content: "\2716";
        font-size: 14px;
        color: white;
    }

    .img-bg {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        padding-bottom: 100%;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="container h-100 navbarcontentpadding">
    {% for message in get_flashed_messages(category_filter=["error"]) %}
    {% if message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endfor %}

    {% for message in get_flashed_messages(category_filter=["success"]) %}
    {% if message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endfor %}

    <h2 class="my-3">Create Media</h2>
    <form action="/createMedia//{{projID}}/{{tourID}}" method="POST" enctype="multipart/form-data">
        <div id="Information">
            <div class="mb-3">
                <label for="exampleTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="newsTitle" name="newsTitle" required>
            </div>
            <div class="mb-3">
                <label for="exampleDesc" class="form-label">Description</label>
                <textarea class="form-control" id="newsDesc" name="newsDesc" rows="5" required></textarea>
            </div>
        </div>
        <div class="upload__box">
            <div class="upload__btn-box">
                <label class="upload__btn">
                    <p>Media Upload</p>
                    <input type="file" name="mediaImage" class="upload__inputfile" data-max_length="20"
                        accept="image/*, video/*, audio/*" multiple="">
                </label>
            </div>
            <div class="upload__img-wrap"></div>
        </div>
        <div id="Submit">
            <button type="submit" class="btn btn-primary">Add</button>
            <a href="/media/{{projID}}/{{tourID}}" class="btn btn-secondary" role="button" aria-disabled="true">Back</a>
        </div>
    </form>
</div>
<script>
    jQuery(document).ready(function () {
        ImgUpload();
    });

    jQuery(document).ready(function () {
        var fileInput = document.querySelector('input[type="file"]');

        // Add event listener for change event
        fileInput.addEventListener('change', function () {
            console.log('Files selected:', fileInput.files);
            ImgUpload(fileInput.files);
        });
    });

    function ImgUpload(files) {
        var imgWrap = "";
        var imgArray = [];

        $('.upload__inputfile').each(function () {
            imgWrap = $(this).closest('.upload__box').find('.upload__img-wrap');
            var maxLength = $(this).attr('data-max_length');

            for (let i = 0; i < files.length; i++) {
                let f = files[i];

                if (!f.type.match('image.*') && !f.type.match('video.*') && !f.type.match('audio.*')) {
                    continue;
                }

                if (imgArray.length >= maxLength) {
                    break;
                } else {
                    imgArray.push(f);

                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var html = "<div class='upload__img-box'><div style='background-image: url(" + e.target.result + ")' data-number='" + $(".upload__img-close").length + "' data-file='" + f.name + "' class='img-bg'><div class='upload__img-close'></div></div></div>";
                        imgWrap.append(html);
                    };
                    reader.readAsDataURL(f);
                }
            }
        });

        $('body').on('click', ".upload__img-close", function (e) {
            var file = $(this).parent().data("file");
            for (var i = 0; i < imgArray.length; i++) {
                if (imgArray[i].name === file) {
                    imgArray.splice(i, 1);
                    break;
                }
            }
            $(this).parent().parent().remove();
        });
    }
</script>
{% endblock %}