{% extends "layout.html" %}

{% block content %}
    <div class="container h-100 navbarcontentpadding">
        {% for message in get_flashed_messages(category_filter=["error"]) %}
            {% if message %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}

        {% for message in get_flashed_messages(category_filter=["success"]) %}
            {% if message %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}

        <h2 class="my-3">New Participant</h2>
        <form action="" method="POST">
            <ul class="nav nav-tabs mb-4">
                <li class="nav-item" id="BasicInformationTab">
                    <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="tab" data-bs-target="#BasicInformation" aria-controls="BasicInformation" aria-selected="true" style="color: black;">Basic Information</a>
                </li>
                <li class="nav-item" id="Player1Tab">
                    <a class="nav-link" href="#" data-bs-toggle="tab" data-bs-target="#Player1" aria-controls="Player1" aria-selected="false" style="color: black;">Player 1</a>
                </li>
                <li class="nav-item" id="Player2Tab">
                    <a class="nav-link" href="#" data-bs-toggle="tab" data-bs-target="#Player2" aria-controls="Player2" aria-selected="false" style="color: black;">Player 2</a>
                </li>
            </ul>
            <div class="tab-pane fade show active" id="BasicInformation" role="tabpanel" aria-labelledby="BasicInformationTab"> 
                <div class="mb-3">
                    <label for="exampleInputTeamName1" class="form-label">Team Name</label>
                    <input type="text" class="form-control" id="participantName" name="participantName" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="text" class="form-control" id="participantEmail" name="participantEmail" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
            </div>
            <div class="tab-pane fade" id="Player1" role="tabpanel" aria-labelledby="Player1Tab">
                <div class="mb-3">
                    <label for="exampleInputPlayerName1" class="form-label">Player Name</label>
                    <input type="text" class="form-control" id="playerName1" name="playerName1">
                </div>
            </div>
            <div class="tab-pane fade" id="Player2" role="tabpanel" aria-labelledby="Player2Tab">
                <div class="mb-3">
                    <label for="exampleInputPlayerName2" class="form-label">Player Name</label>
                    <input type="text" class="form-control" id="playerName2" name="playerName2">
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>

    <script>
        let BasicInformationTab = document.getElementById("BasicInformationTab");
        let Player1Tab = document.getElementById("Player1Tab");
        let Player2Tab = document.getElementById("Player2Tab");
        let BasicInformation = document.getElementById("BasicInformation");
        let Player1 = document.getElementById("Player1");
        let Player2 = document.getElementById("Player2");
        
        BasicInformationTab.addEventListener("click", function(){tabFn(BasicInformationTab);});
        Player1Tab.addEventListener("click", function(){tabFn(Player1Tab);});
        Player2Tab.addEventListener("click", function(){tabFn(Player2Tab);});

        function tabFn(tabClicked) {
            const tabs = [BasicInformationTab, Player1Tab, Player2Tab];
            const tabsContent = [BasicInformation, Player1, Player2];

            for (tab of tabs){
                if (tabClicked === tab){
                    tab.firstElementChild.classList.add("active");
                    for(tabC of tabsContent){
                        if (tabsContent.indexOf(tabC) === tabs.indexOf(tab)){
                            tabC.hidden = false;
                        } else {
                            tabC.hidden = true;
                        }
                    }
                } else {
                    tab.firstElementChild.classList.remove("active");
                }
            }
        }

    </script>

{% endblock %}