{% extends "layout.html" %}

{% block content %}
		<div class="row justify-content-center">
			<div class="col navbarcontentpadding">
				{% for message in get_flashed_messages(category_filter=["error"]) %}
					{% if message %}
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							{{ message }}
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					{% endif %}
				{% endfor %}

				{% for message in get_flashed_messages(category_filter=["success"]) %}
					{% if message %}
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							{{ message }}
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					{% endif %}
				{% endfor %}

				<div class="container h-100">
					<div class="row justify-content-center h-100">
						<div class="col-xxl-10 col-xl-8 col-lg-8 col-md-9 col-sm-10">
							<div class="card-body p-5">
								<h1 class="fs-4 card-title fw-bold mb-4">Create Proj</h1>
								<form action="/createProj" method="POST" class="needs-validation" novalidate="" autocomplete="off" enctype="multipart/form-data">
									
									<div class="row mb-3 justify-content-sm-center">
										<div class="mb-4">
											<label class="mb-2 text-muted" for="projName">Project Name<span class="text-danger">*</span></label>
											<input id="projName" type="text" class="form-control" name="projName" value="{{ projName }}" placeholder="Eg. University Invitationals 2025" style="#tourName::placeholder {color: #888;}" required autofocus>
										</div>
										
										<div class="mb-4 col-xl-6">
											<label class="mb-2 text-muted" for="startDate">Start Date<span class="text-danger">*</span></label>
											<input id="startDate" type="date" class="form-control" name="startDate" value="{{ startDate }}" required autofocus>
										</div>

										<div class="mb-4 col-xl-6">
											<label class="mb-2 text-muted" for="endDate">End Date<span class="text-danger">*</span></label>
											<input id="endDate" type="date" class="form-control" name="endDate" value="{{ endDate }}" required autofocus>
										</div>

										<div class="mb-4">
											<label class="mb-2 text-muted" for="projImage">Project Image</label>
											<input id="projImage" type="file" class="form-control" name="projImage" accept="image/*" required>
										</div>
									
									</div>

									<div class="d-flex align-items-center">
										<button type="submit" class="btn btn-primary ms-auto">
											Create Project
										</button>
									</div>
								</form>
							</div>
							
							<!-- <div class="text-center mt-5 text-muted">
								Copyright &copy; 2017-2021 &mdash; Your Company 
							</div> -->
						</div>
					</div>
				</div>
			</div>	
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
	
	<script>
		$(document).ready(function () {
			function populateFormatDropdown(selectedSport) {
				$.ajax({
					type: "POST",
					url: "/get_formats",  // Update the route to handle format retrieval
					data: { sport_id: selectedSport },
					success: function (response) {
						// Populate format dropdown with the received data
						$("#format").html(response.options);

						var selectedFormat = "{{ format }}";  // Replace with the actual variable from Flask
						$("#format").val(selectedFormat);
					},
					error: function (error) {
						console.error("Error:", error);
					}
				});
			}

			// Initial population on page load
			var selectedSport = $("#sport").val();
			populateFormatDropdown(selectedSport);

			// Change event for the sport dropdown
			$("#sport").change(function () {
				var selectedSport = $(this).val();
				populateFormatDropdown(selectedSport);
			});
    	});
	</script>

{% endblock %}