{% extends "layout.html" %}

{% block content %}

   <div class="container h-100 navbarcontentpadding">
      <header>
         <label class="fs-4 fw-bold my-4 ps-5">Dashboard</label>
      </header>
      <div class="d-flex flex-row flex-wrap justify-content-center">         
         {% if isOwner %}
            <a href="/structure/{{projID}}/{{tourID}}" class="boxlink">
               <div class="col-6 m-3 dashboard box d-flex align-items-center justify-content-center">
                  <h2>Structure</h2>
                  <p></p>
               </div>
            </a>  
            <a href="/participant/{{projID}}/{{tourID}}" class="boxlink">
               <div class="col-6 m-3 dashboard box d-flex align-items-center justify-content-center">
                  <h2>Participant</h2>
               </div>
            </a>
            <a href="/placement/{{projID}}/{{tourID}}" class="boxlink">
               <div class="col-6 m-3 dashboard box d-flex align-items-center justify-content-center">
                  <h2>Placement</h2>
                  <p></p>
               </div>
            </a>
            <a href="/match/{{projID}}/{{tourID}}" class="boxlink">
               <div class="col-6 m-3 dashboard box d-flex align-items-center justify-content-center">
                  <h2>Matches</h2>
                  <p></p>
               </div>
            </a>      
            <a href="/media/{{projID}}/{{tourID}}" class="boxlink">
               <div class="col-6 m-3 dashboard box d-flex align-items-center justify-content-center">
                  <h2>Media</h2>
                  <p></p>
               </div>
            </a>  
            <a href="/tournamentOverviewPublic/{{tourID}}" class="boxlink">
               <div class="col-6 m-3 dashboard box d-flex align-items-center justify-content-center">
                  <h2>Public Page</h2>
                  <p></p>
               </div>
            </a>     
         {% else %}          
            {% if "Setup Structure" in moderatorPermissionList %}
               <a href="/structure/{{projID}}/{{tourID}}" class="boxlink">
                  <div class="col-6 m-3 dashboard box d-flex align-items-center justify-content-center">
                     <h2>Structure</h2>
                     <p></p>
                  </div>
               </a>  
            {% endif %}
            {% if "Manage Participant" in moderatorPermissionList %}
               <a href="/participant/{{projID}}/{{tourID}}" class="boxlink">
                  <div class="col-6 m-3 dashboard box d-flex align-items-center justify-content-center">
                     <h2>Participant</h2>
                     <p></p>
                  </div>
               </a>
            {% endif %}
            {% if "Place Participant" in moderatorPermissionList %}
               <a href="/placement/{{projID}}/{{tourID}}" class="boxlink">
                  <div class="col-6 m-3 dashboard box d-flex align-items-center justify-content-center">
                     <h2>Placement</h2>
                     <p></p>
                  </div>
               </a>
            {% endif %}
            {% if "Start Match" in moderatorPermissionList %}
               <a href="/match/{{projID}}/{{tourID}}" class="boxlink">
                  <div class="col-6 m-3 dashboard box d-flex align-items-center justify-content-center">
                     <h2>Matches</h2>
                     <p></p>
                  </div>
               </a>  
            {% endif %}
            {% if "Manage Media" in moderatorPermissionList %}            
            <a href="/media/{{projID}}/{{tourID}}" class="boxlink">
               <div class="col-6 m-3 dashboard box d-flex align-items-center justify-content-center">
                  <h2>Media</h2>
                  <p></p>
               </div>
            </a>  
            {% endif %}
            {% if "Manage Public Page" in moderatorPermissionList %}            
            <a href="/tournamentOverviewPublic/{{tourID}}" class="boxlink">
               <div class="col-6 m-3 dashboard box d-flex align-items-center justify-content-center">
                  <h2>Public Page</h2>
                  <p></p>
               </div>
            </a>  
            {% endif %}
         {% endif %}
      </div>
   </div>

{% endblock %}