{% extends "layout.html" %}

{% block content %}

   <main class="dashboard">
      <header>
         <h2>Dashboard</h2>
      </header>
      <div class="content">
         <a href="#" class="boxlink">
            <div class="box">
               <h2>Status</h2>
               <p>
                  Current Status:
               </p>
            </div>
         </a>
         <a href="#" class="boxlink">
            <div class="box">
               <h2>Participant</h2>
               <p>
                  
               </p>
            </div>
         </a>
         <a href="#" class="boxlink">
            <div class="box">
               <h2>Structure</h2>
               <p>
                  
               </p>
            </div>
         </a>
         <a href="#" class="boxlink">
            <div class="box">
               <h2>Registration</h2>
               <p>
                  
               </p>
            </div>
         </a>
         <a href="#" class="boxlink">
            <div class="box">
               <h2>Placement</h2>
               <p>
                  
               </p>
            </div>
         </a>
         <a href="#" class="boxlink">
            <div class="box">
               <h2>Matches</h2>
               <p>
                  
               </p>
            </div>
         </a>
      </div>
   </main>

{% endblock %}