{% extends "layout.html" %}

{% block content %}

   <div class="container h-100 navbarcontentpadding">
      <header>
         <label class="fs-4 fw-bold my-4 ps-10">Dashboard</label>
      </header>
      <div class="d-flex flex-row flex-wrap justify-content-center">
               <a href="#" class="boxlink">
                  <div class="col-6 m-3 box">
                     <h2>Status</h2>
                     <p>Current Status:</p>
                  </div>
               </a>
               <a href="/{{projID}}/dashboard/{{tourID}}" class="boxlink">
                  <div class="col-6 m-3 box">
                     <h2>Participant</h2>
                     <p></p>
                  </div>
               </a>
               <a href="/{{projID}}/structure/{{tourID}}" class="boxlink">
                  <div class="col-6 m-3 box">
                     <h2>Structure</h2>
                     <p></p>
                  </div>
               </a>  
               <a href="#" class="boxlink">
                  <div class="col-6 m-3 box">
                     <h2>Registration</h2>
                     <p></p>
                  </div>
               </a>
               <a href="/{{projID}}/placement/{{tourID}}" class="boxlink">
                  <div class="col-6 m-3 box">
                     <h2>Placement</h2>
                     <p></p>
                  </div>
               </a>
               <a href="#" class="boxlink">
                  <div class="col-6 m-3 box">
                     <h2>Matches</h2>
                     <p></p>
                  </div>
               </a>
         </div>
      </div>
   </div>

{% endblock %}