{% extends "layout.html" %}

{% block content %}
    <div class="container h-100 navbarcontentpadding">
        {% for message in get_flashed_messages(category_filter=["error"]) %}
            {% if message %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}

        {% for message in get_flashed_messages(category_filter=["success"]) %}
            {% if message %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}

        <h2 class="my-3">Edit Participant</h2>
        <form action="/editParticipant/<projID>/<tourID>/<participantID>" method="POST">
            <div class="mb-3">
                <label for="exampleInputTeamName1" class="form-label">Team Name</label>
                <input type="text" class="form-control" name="participantName" value="{{ participantName }}" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Team Email</label>
                <input type="email" class="form-control" name="participantEmail" value="{{ participantEmail }}" required>
            </div>            
            {% for playerList in playerList %}
                <div class="mb-3">
                    <label class="form-label">Player {{ loop.index }}</label>
                    <input type="text" class="form-control" name="playerName" value="{{ playerList[0] }}" required>
                    <input id="{{ playerList[1] }}" type="text" class="form-control" name="playerID" value="{{ playerList[1] }}" hidden>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="/participant/{{projID}}/{{tourID}}" class="btn btn-secondary" role="button" aria-disabled="true">Back</a>
        </form>
    </div>

{% endblock %}