{% extends "layout.html" %}

{% block content %}
		<div class="row justify-content-center generalSettingsDiv">
			<div class="col navbarcontentpadding">
				{% for message in get_flashed_messages(category_filter=["error"]) %}
					{% if message %}
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							{{ message }}
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					{% endif %}
				{% endfor %}

				{% for message in get_flashed_messages(category_filter=["success"]) %}
					{% if message %}
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							{{ message }}
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					{% endif %}
				{% endfor %}

				<div class="container h-100">
					<div class="row justify-content-center h-100">
						<div class="col-xxl-10 col-xl-8 col-lg-8 col-md-9 col-sm-10">
							<div class="card-body p-5">
								<div class="card-body pt-5 d-flex justify-content-between align-items-center">
									<h1 class="fs-4 card-title fw-bold mb-4">Settings</h1>
									<button type="button" class="btn btn-danger ms-auto mb-4" onclick="confirmDelete()">
										Delete Tournament
									</button>
								</div>
								<ul class="nav nav-tabs mb-4">
									<li class="nav-item" id="GeneralTab">
										<a class="nav-link active" aria-current="page" href="#" data-bs-toggle="tab" data-bs-target="#General" aria-controls="General" aria-selected="true" style="color: black;">General</a>
									</li>
									<li class="nav-item" id="DetailsTab">
										<a class="nav-link" href="#" data-bs-toggle="tab" data-bs-target="#Details" aria-controls="Details" aria-selected="false" style="color: black;">Details</a>
									</li>
									<li class="nav-item" id="ContactTab">
										<a class="nav-link" href="#" data-bs-toggle="tab" data-bs-target="#Contact" aria-controls="Contact" aria-selected="false" style="color: black;">Contact</a>
									</li>
								</ul>
								
								<form action="" method="POST" class="needs-validation" novalidate="" autocomplete="off">
									<div class="tab-content">
										<div class="tab-pane fade show active" id="General" role="tabpanel" aria-labelledby="GeneralTab">
											<!-- <form action="" method="POST" class="needs-validation" novalidate="" autocomplete="off"> -->
												
												<div class="row mb-3 justify-content-sm-center">
													<div class="mb-4">
														<label class="mb-2 text-muted" for="tourName">Tournament Name<span class="text-danger">*</span></label>
														<input id="tourName" type="text" class="form-control" name="tourName" value="{{ tourName }}" placeholder="Eg. Men's Singles Badminton" style="#tourName::placeholder {color: #888;}" required autofocus>
													</div>
													
													<div class="mb-4 col-xl-4">
														<label class="mb-2 text-muted" for="tourSize">Size of Participants<span class="text-danger">*</span></label>
														<input id="tourSize" type="number" class="form-control" name="tourSize" value="{{ tourSize }}" min="0" required autofocus>
													</div>

													<div class="mb-4 col-xl-4">
														<label class="mb-2 text-muted" for="startDate">Start Date<span class="text-danger">*</span></label>
														<input id="startDate" type="date" class="form-control" name="startDate" value="{{ startDate }}" required autofocus>
													</div>

													<div class="mb-4 col-xl-4">
														<label class="mb-2 text-muted" for="endDate">End Date<span class="text-danger">*</span></label>
														<input id="endDate" type="date" class="form-control" name="endDate" value="{{ endDate }}" required autofocus>
													</div>

													<div class="mb-4 col-xl-4">
														<label class="mb-2 text-muted" for="gender">Gender</label>
														<select id="gender" class="form-select" name="gender" required autofocus>
															<option value="Male" {% if gender == 'Male' %} selected {% endif %}>Male</option>
															<option value="Female" {% if gender == 'Female' %} selected {% endif %}>Female</option>
															<option value="Mixed" {% if gender == 'Mixed' %} selected {% endif %}>Mixed</option>
														</select>
													</div>

													<div class="mb-4 col-xl-4">
														<label class="mb-2 text-muted" for="sport">Sport<span class="text-danger">*</span></label>
														<select id="sport" class="form-select" name="sport" required autofocus>
															<!-- <option value="">Please select a sport first</option> -->
															{%for s in sportlist %}
																<option value="{{s['sportID']}}" {% if sport == s['sportID'] %} selected {% endif %}>{{s['sportName']}}</option>
															{% endfor %}
														</select>
													</div>

													<div class="mb-4 col-xl-4">
														<label class="mb-2 text-muted" for="format">Format<span class="text-danger">*</span></label>
														<select id="format" class="form-select" name="format" required autofocus>
															
														</select>
													</div>

													<div class="mb-4 col-xl-12">
														<label class="mb-2 text-muted" for="endDate">Status<span class="text-danger">*</span></label>
														<select id="status" class="form-select" name="status" required autofocus>
															<option value="1" {% if status == 1 %} selected {% endif %}>Registration</option>
															<option value="2" {% if status == 2 %} selected {% endif %}>Ongoing</option>
															<option value="3" {% if status == 3 %} selected {% endif %}>Ended</option>
															<option value="4" {% if status == 4 %} selected {% endif %}>Pending</option>
															<option value="6" {% if status == 6 %} selected {% endif %}>Published</option>
														</select>
													</div>

													<input type="hidden" name="formIdentifier" value="general">
													<!-- <div class="mb-4">
														<label class="mb-2 text-muted" for="generalInfo">General Info</label>
														<textarea id="generalInfo" type="text" class="form-control" name="generalInfo" rows="5" required autofocus style="resize: none;">{{ generalInfo }}</textarea>
													</div> -->
												</div>
												
												<p>Current Image of Tournament</p>

												<div class="image-container">
													<!-- Image placeholder for Tournament Image-->
													<img src="https://via.placeholder.com/150/F9F9F9?text=Please+Upload+Image" alt="">
												</div>

												<br><br>
												
												<p>Current Banner of Tournament</p>
												{% if tourBannerID %}
												<img src="https://drive.google.com/thumbnail?id={{tourBannerID}}&sz=s4000" alt="" height="350px">
												{% else %}
												<!-- Image placeholder -->
												<img src="https://via.placeholder.com/600x350/F9F9F9?text=Please+Upload+Banner+Image" alt="" height="350px">
												{% endif %}
												</div> 
												<br>

												<div class="mb-4">
													<label class="mb-2 text-muted" for="tourImage">Tournament Image</label>
													<input id="tourImage" type="file" class="form-control" name="tourImage" accept="image/*" required>
												</div>

												<div class="mb-4">
													<label class="mb-2 text-muted" for="bannerImage">Tournament Banner Image</label>
													<input id="bannerImage" type="file" class="form-control" name="bannerImage" accept="image/*" required>
												</div>

												<div class="d-flex align-items-center">
													<button type="submit" class="btn btn-primary ms-auto">
														Update All Tabs
													</button>
												</div>
											<!-- </form> -->
										</div>
										<div class="tab-pane fade" id="Details" role="tabpanel" aria-labelledby="DetailsTab">
											<!-- <form action="" method="POST" class="needs-validation" novalidate="" autocomplete="off"> -->
												<div class="mb-4">
													<label class="mb-2 text-muted" for="generalDesc">General Description</label>
													<textarea id="generalDesc" type="text" class="form-control" name="generalDesc" rows="5" required autofocus style="resize: none;">{{ generalDesc }}</textarea>
												</div>

												<div class="mb-4">
													<label class="mb-2 text-muted" for="rules">Rules</label>
													<textarea id="rules" type="text" class="form-control" name="rules" rows="5" required autofocus style="resize: none;">{{ rules }}</textarea>
												</div>

												<div class="mb-4">
													<label class="mb-2 text-muted" for="prize">Prize</label>
													<textarea id="prize" type="text" class="form-control" name="prize" rows="5" required autofocus style="resize: none;">{{ prize }}</textarea>
												</div>
												
												<input type="hidden" name="formIdentifier" value="details">

												<div class="d-flex align-items-center">
													<button type="submit" class="btn btn-primary ms-auto">
														Update All Tabs
													</button>
												</div>
											<!-- </form> -->
										</div>
										<div class="tab-pane fade" id="Contact" role="tabpanel" aria-labelledby="ContactTab">
											<!-- <form action="" method="POST" class="needs-validation" novalidate="" autocomplete="off"> -->
												
												<div class="mb-4">
													<label class="mb-2 text-muted" for="contact">Contact Info</label>
													<textarea id="contact" type="text" class="form-control" name="contact" rows="5" required autofocus style="resize: none;">{{ contact }}</textarea>
												</div>

												<input type="hidden" name="formIdentifier" value="contact">

												<div class="d-flex align-items-center">
													<button type="submit" class="btn btn-primary ms-auto">
														Update All Tabs
													</button>
												</div>
											<!-- </form> -->
										</div>
									</div>
								</form>
								<form action="" method="POST" class="needs-validation" novalidate="" autocomplete="off" id="deleteTourForm">
									<input type="hidden" name="action" value="delete">
								</form>
							</div>
							
							<!-- <div class="text-center mt-5 text-muted">
								Copyright &copy; 2017-2021 &mdash; Your Company 
							</div> -->
						</div>
					</div>
				</div>
			</div>	
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
	
	<script>
		$(document).ready(function () {
			function populateFormatDropdown(selectedSport) {
				$.ajax({
					type: "POST",
					url: "/get_formats",  // Update the route to handle format retrieval
					data: { sport_id: selectedSport },
					success: function (response) {
						// Populate format dropdown with the received data
						$("#format").html(response.options);

						var selectedFormat = "{{ format }}";  // Replace with the actual variable from Flask
						$("#format").val(selectedFormat);
					},
					error: function (error) {
						console.error("Error:", error);
					}
				});
			}

			// Initial population on page load
			var selectedSport = $("#sport").val();
			populateFormatDropdown(selectedSport);

			// Change event for the sport dropdown
			$("#sport").change(function () {
				var selectedSport = $(this).val();
				populateFormatDropdown(selectedSport);
			});
    	});

		function confirmDelete() {
        // Show confirmation dialog
        var isConfirmed = window.confirm("Are you sure you want to delete this tournament?");

        // If user clicks 'OK' (true), submit the form
			if (isConfirmed) {
				document.getElementById("deleteTourForm").submit();
			}
			// If user clicks 'Cancel' (false), do nothing
    	}
	</script>

{% endblock %}