<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="../static/css/navbar.css">

<head>
    <title>
        {% if navtype == 'tournament' %}
           Tournaments
        {% elif navtype == 'project' %}
            Projects
        {% endif %}
    </title>
</head>

<body>

    <div class="topnav">
        <a href="/home">GameSphere</a>
        <div class="toprightnav">
            <div class="firstname">Welcome {{ session["fname"] }}</div>
            <div class="dropdown">
                {% if session['profileMediaID'] is none or session['profileMediaID'] == "" %}

                <a href=""><i class="fa fa-fw fa-user"></i>
                
                {% else %}

                <div class="profileMedia">
                    <img src="https://drive.google.com/uc?export=view&id={{ session['profileMediaID'] }}" class="profileImage">
                    
                </div>

                {% endif %}


                    <div class="dropdown-content">
                        <a href="">Account Settings</a>
                        <a href="/logout">Logout</a>
                    </div>
            </div>
        </div>
    </div>

    <div class="leftnav">
        <h2>
            {% if navtype == 'tournament' %}
                {{projectName}}
            {% elif navtype == 'project' %}
                Projects
            {% elif navtype == 'dashboard' %}
                {{tournamentName}}
            {% endif %}
        </h2>
        {% if navtype == 'tournament' %}
            {% for t in tournamentlist %}
                <a href="/tournamentOverviewPage/{{t['tourID']}}">{{t['tourName']}}</a>
            {% endfor %}
        {% elif navtype == 'project' %}
            {% for p in projects %}
                <a href="/projects/{{p['projID']}}">{{p['projName']}}</a>
            {% endfor %}
            
        {% elif navtype == 'dashboard' %}
            <a href="/dashboard/{{tourID}}">Dashboard</a>
            <div class="dropdown" id="settingDropdown">
                <a class="dropdown-toggle" style="cursor: pointer;">
                    Setting
                </a>
                <ul id="dashboardSettingsNav" {% if navexpand == 'Yes' %} style="display:block" {% else %} style="display:none" {% endif %}>
                    <li><a href="/settings/{{tourID}}">General</a></li>
                    <li><a href="#">Permission</a></li>
                    <li><a href="#">Custom Field</a></li>
                </ul>
            </div>
            <a href="#">Structure</a>
            <a href="#">Registration</a>
            <a href="/tournamentParticipant/{{tourID}}">Participant</a>
            <a href="#">Placement</a>
            <a href="#">Match</a>
            <a href="#">Final Standing</a>
            <a href="#">Public Page</a>
            <a href="#">Media</a>
        {% endif %}
    </div>

    <!-- Content -->
    {% block content %}{% endblock %}

    <!-- Add your common scripts, footer, or other elements here -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        var settingDropdown = document.getElementById('settingDropdown');
        var dashboardSettingsNav = document.getElementById('dashboardSettingsNav');

        // Check if elements exist before adding event listener
        if (settingDropdown && dashboardSettingsNav) {
            settingDropdown.addEventListener('click', function () {
                dashboardSettingsNav.style.display = (dashboardSettingsNav.style.display === 'block' || dashboardSettingsNav.style.display === '') ? 'none' : 'block';
            });
        }
    });
    </script>

</body>

</html>