<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/navbar.css">

<head>
    <title>
        {% if type == 'tournament' %}
           Tournaments
        {% elif type == 'project' %}
            Projects
        {% endif %}
    </title>
</head>

<body>

    <div class="topnav">
        <a href="/home">GameSphere</a>
        <div class="toprightnav">
            <div class="firstname">Welcome {{ session["fname"] }}</div>
            <div class="dropdown">
                <a href=""><i class="fa fa-fw fa-user"></i>
                    <div class="dropdown-content">
                        <a href="">Account Settings</a>
                        <a href="/logout">Logout</a>
                    </div>
            </div>
        </div>
    </div>

    <div class="leftnav">
        <h2>
            {% if type == 'tournament' %}
                Tournaments
            {% elif type == 'project' %}
                Projects
            {% endif %}
        </h2>
        {% if type == 'tournament' %}
            {% for t in tournamentlist %}
                <a href="/tournamentOverviewPage/{{t['tourID']}}">{{t['tourName']}}</a>
            {% endfor %}
        {% elif type == 'project' %}
            {% for p in projects %}
                <a href="/projects/{{p['projID']}}">{{p['projName']}}</a>
            {% endfor %}
        {% endif %}
    </div>

    <!-- Content -->
    {% block content %}{% endblock %}

    <!-- Add your common scripts, footer, or other elements here -->

</body>

</html>