<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="/static/css/navbar.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <title>
        {% if navtype == 'tournament' %}
            Tournaments
        {% elif navtype == 'project' %}
            Projects
        {% elif navtype == 'sysAdmin' %}
            System Admin
        {% endif %}
    </title>
</head>

<body>
    <div class="topnav">
        <button class="navbar-toggler" type="button" onclick="toggleNavBar()">
            <i class="bi bi-list"></i>
        </button>

            <a href="/home">GameSphere</a>

        <div class="toprightnav">
            <div class="firstname">Welcome {{ session["fname"] }}</div>
            <div class="dropdown">
                {% if session['profileMediaID'] is none or session['profileMediaID'] == "" %}

                <a href=""><i class="fa fa-fw fa-user"></i>
                
                {% else %}

                <div class="profileMedia">
                    <img src="https://drive.google.com/uc?export=view&id={{ session['profileMediaID'] }}" class="profileImage">
                    
                </div>

                {% endif %}


                    <div class="dropdown-content">
                        <a href="">Account Settings</a>
                        <a href="/logout">Logout</a>
                    </div>
            </div>
        </div>
    </div>

    
    <div class="leftnav">
        {% if navtype == 'tournament' %}
            <a href="/home"><i class="bi bi-arrow-left"></i></a>
            <h2>{{projectName}}</h2>            
            {% for t in tournamentlist %}
                <a href="/tournamentOverviewPage/{{projID}}/{{t['tourID']}}">{{t['tourName']}}</a>
            {% endfor %}
        {% elif navtype == 'project' %}
            <h2>Projects</h2>
                <a href="/moderatorsTournament/{{session["id"]}}" class="btn btn-secondary" role="button" aria-disabled="true">Moderator Mode</a>
            {% for p in projects %}
                <div class="dropdown project-dropdown">
                    <a href="/projects/{{p['projID']}}">{{p['projName']}}</a>
                    <a class="dropdown-toggle" style="cursor: pointer;">
                        <!-- <span class="text-content">{{p['projName']}}</span> -->
                    </a>
                    <ul class="projSettingsNav" style="display:none">
                        <li><a href="/settings/{{p['projID']}}">Settings</a></li>
                    </ul>
                </div>
            {% endfor %}
            
        {% elif navtype == 'dashboard' %}

            <a href="/tournamentOverviewPage/{{projID}}/{{tourID}}"><i class="bi bi-arrow-left"></i></a>
            <h2>{{tournamentName}}</h2>
            <a href="/dashboard/{{projID}}/{{tourID}}">Dashboard</a>

            <div class="dropdown" id="settingDropdown">
                <a class="dropdown-toggle" style="cursor: pointer;">
                    Setting
                </a>
                <ul id="dashboardSettingsNav" style="display:none">
                    <li><a href="/settings/general/{{projID}}/{{tourID}}">General</a></li>
                    <li><a href="/moderator/{{projID}}/{{tourID}}">Permission</a></li>
                    <li><a href="#">Custom Field</a></li>
                </ul>
            </div>

            {% if "Setup Structure" in moderatorPermissionList %}
                <a href="/structure/{{projID}}/{{tourID}}">Structure</a>
            {% endif %}
            {% if "Manage Registration" in moderatorPermissionList %}
                <a href="#">Registration</a>  
            {% endif %}
            {% if "Manage Participant" in moderatorPermissionList %}
                <a href="/participant/{{projID}}/{{tourID}}">Participant</a>
            {% endif %}
            {% if "Place Participant" in moderatorPermissionList %}
                <a href="/placement/{{projID}}/{{tourID}}">Placement</a>
            {% endif %}
            {% if "Start Match" in moderatorPermissionList %}
                <a href="/match/{{projID}}/{{tourID}}">Match</a>
            {% endif %}
            {% if "Manage Final Standing" in moderatorPermissionList %}
                <a href="#">Final Standing</a>
            {% endif %}
            {% if "Manage Public Page" in moderatorPermissionList %}
                <a href="#">Public Page</a>
            {% endif %}
            {% if "Manage Media" in moderatorPermissionList %}
                <a href="#">Media</a>
            {% endif %}

        {% elif navtype == 'sysAdmin' %}

            <h2>System Admin</h2>

            <a href="/projAdmin">Projects</a>
            <a href="/tourAdmin">Tournaments</a>
            <a href="#">Stages</a>
            <a href="#">Matches</a>
            <a href="/venueAdmin">Venues</a>
            <a href="#">Participants</a>
    
        {% endif %}
    </div>

    <!-- Content -->
    {% block content %}{% endblock %}

    <!-- Add your common scripts, footer, or other elements here -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        var settingDropdown = document.getElementById('settingDropdown');
        var dashboardSettingsNav = document.getElementById('dashboardSettingsNav');

            // Check if elements exist before adding event listener
            if (settingDropdown && dashboardSettingsNav) {
                settingDropdown.addEventListener('click', function () {
                    dashboardSettingsNav.style.display = (dashboardSettingsNav.style.display === 'block' || dashboardSettingsNav.style.display === '') ? 'none' : 'block';
                });
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            var projectDropdowns = document.querySelectorAll('.project-dropdown');

            projectDropdowns.forEach(function (projectDropdown) {
                var dropdownToggle = projectDropdown.querySelector('.dropdown-toggle');
                var settingsNav = projectDropdown.querySelector('.projSettingsNav');

            // Check if elements exist before adding event listener
                if (dropdownToggle && settingsNav) {
                    dropdownToggle.addEventListener('click', function () {
                        settingsNav.style.display = (settingsNav.style.display === 'block' || settingsNav.style.display === '') ? 'none' : 'block';
                    });
                }
            });
        });



        function toggleNavBar() {
            var navBar = document.getElementsByClassName("leftnav")[0];
            var getcontent = document.getElementsByClassName("content")
            var getnavpadding = document.getElementsByClassName("navbarcontentpadding")
            var currentLeft = navBar.style.left;

            if (getcontent.length > 0) {
                var content = getcontent[0]

                if (currentLeft == '-220px' || !currentLeft) {
                    navBar.style.left = '0';
                    // content.classList.add("ml-3");
                } else {
                    navBar.style.left = '-220px';
                    // content.classList.add("ml-3");
                }
            } else if (getnavpadding.length > 0) {
                var navpadding = getnavpadding[0]

                if (currentLeft == '-220px' || !currentLeft) {
                    navBar.style.left = '0';
                    // navpadding.style.paddingLeft = "210px";
                } else {
                    navBar.style.left = '-220px';
                    // navpadding.style.paddingLeft = "0px";
                }
            }
        }
    </script>

</body>

</html>