{% extends "layout.html" %}

{% block content %}
<div class="container h-100 navbarcontentpadding">
    <main>
        <header class="d-flex justify-content-between">
            <label class="fs-4 fw-bold my-4">Participant</label>
            <a href="/createParticipant/{{projID}}/{{tourID}}" class="btn btn-primary my-4" role="button" aria-disabled="true">Add Participant</a>
        </header>
        <div class="d-flex justify-content-around flex-wrap text-center m-4">
            <div class="card">
                <div class="card-body">
                    <h4>Participant Size</h4>         
                    <h4>{{ total_participants }}</h4>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4>Tournament Size</h4>         
                    <h4>{{ tournamentSize }}</h4>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Team Email</th>
                    <th>Team Players</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.participantName }}</td>
                        <td>{{ participant.participantEmail }}</td>
                        <td>{{ participant.playerNames }}</td>
                        <td>
                            <a href="/editParticipant/{{projID}}/{{tourID}}/{{ participant.participantID }}">
                                <i class="bi bi-pen"></i>
                            </a>
                        </td>
                        <td>
                            <a href="/deleteParticipant/{{projID}}/{{tourID}}/{{ participant.participantID }}">
                                <i class="bi bi-person-dash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
   </main>
</div>

{% endblock %}