{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/placement.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="content">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Your Card Title</h5>
                <p class="card-text">Some description or content here...</p>
                <a href="#" class="btn btn-primary">Add</a>
            </div>
        </div>
        <div class="small-box"></div>
        <div class="small-box"></div>
        <div class="small-box"></div>
    </div>
</div>
{% endblock %}