{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/matchSeeding.css">

<div class="content">
    <div class="panel panel-default ms-2">
        <div class="bracket">
            <section class="round one">
                {% for one in range(numberOfParticipants//4) %}
                    <div class="winners">
                        <div class="matchups">
                            <div class="matchup r1">
                                <a href="" class="text-decoration-none text-info">
                                    <span class="startTime">Date and Time</span>
                                    <div class="participants">
                                        <div class="participant">
                                            <span class="participantName1 col-7">Team 1</span>
                                            <span class="participantMatchScore col text-center">3</span>
                                        </div>
                                        <div class="participant">
                                            <span class="participantName2 col-7">Team 1</span>
                                            <span class="participantMatchScore col text-center">3</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="matchup r1">
                                <a href="" class="text-decoration-none text-info">
                                    <div class="participants">
                                        <div class="participant">
                                            <span class="participantName1 col-7">Team 1</span>
                                            <span class="participantMatchScore col text-center">3</span>
                                        </div>
                                        <div class="participant">
                                            <span class="participantName2 col-7">Team 1</span>
                                            <span class="participantMatchScore col text-center">3</span>
                                        </div>
                                    </div>
                                    <span class="startTime">Date and Time</span>
                                </a>
                            </div>
                        </div>
                        <div class="connector">
                            <div class="merger"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                {% endfor %}
            </section>

            <section class="round two">
                {% for two in range(numberOfParticipants//8) %}
                    <div class="winners py-roundtwo">
                        <div class="matchups">
                            <div class="matchup r2">
                                <a href="" class="text-decoration-none text-info">
                                    <span class="startTime">Date and Time</span>
                                    <div class="participants">
                                        <div class="participant">
                                            <span class="participantName1 col-7">Team 1</span>
                                            <span class="participantMatchScore col text-center">3</span>
                                        </div>
                                        <div class="participant">
                                            <span class="participantName2 col-7">Team 1</span>
                                            <span class="participantMatchScore col text-center">3</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="matchup r2">
                                <a href="" class="text-decoration-none text-info">
                                    <div class="participants">
                                        <div class="participant">
                                            <span class="participantName1 col-7">Team 1</span>
                                            <span class="participantMatchScore col text-center">3</span>
                                        </div>
                                        <div class="participant">
                                            <span class="participantName2 col-7">Team 1</span>
                                            <span class="participantMatchScore col text-center">3</span>
                                        </div>
                                    </div>
                                    <span class="startTime">Date and Time</span>
                                </a>
                            </div>
                        </div>
                        <div class="connector">
                            <div class="merger"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                {% endfor %}
            </section>
            
            {% if numberOfParticipants > 15 %}
            <section class="round three">
                {% for three in range(numberOfParticipants//16) %}
                <div class="winners py-roundthree">
                    <div class="matchups">
                        <div class="matchup r3">
                            <a href="" class="text-decoration-none text-info">
                                <span class="startTime">Date and Time</span>
                                <div class="participants">
                                    <div class="participant">
                                        <span class="participantName1 col-7">Team 1</span>
                                        <span class="participantMatchScore col text-center">3</span>
                                    </div>
                                    <div class="participant">
                                        <span class="participantName2 col-7">Team 1</span>
                                        <span class="participantMatchScore col text-center">3</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="matchup r3">
                            <a href="" class="text-decoration-none text-info">
                                <div class="participants">
                                    <div class="participant">
                                        <span class="participantName1 col-7">Team 1</span>
                                        <span class="participantMatchScore col text-center">3</span>
                                    </div>
                                    <div class="participant">
                                        <span class="participantName2 col-7">Team 1</span>
                                        <span class="participantMatchScore col text-center">3</span>
                                    </div>
                                </div>
                                <span class="startTime">Date and Time</span>
                            </a>
                        </div>
                    </div>
                    <div class="connector">
                        <div class="merger"></div>
                        <div class="line"></div>
                    </div>
                </div>
                {% endfor %}
            </section>
            {% endif %}
            
            {% if numberOfParticipants > 31 %}
            <section class="round four">
                {% for four in range(numberOfParticipants//32) %}
                <div class="winners py-roundfour">
                    <div class="matchups">
                        <div class="matchup r4">
                            <a href="" class="text-decoration-none text-info">
                                <span class="startTime">Date and Time</span>
                                <div class="participants">
                                    <div class="participant">
                                        <span class="participantName1 col-7">Team 1</span>
                                        <span class="participantMatchScore col text-center">3</span>
                                    </div>
                                    <div class="participant">
                                        <span class="participantName2 col-7">Team 1</span>
                                        <span class="participantMatchScore col text-center">3</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="matchup r4">
                            <a href="" class="text-decoration-none text-info">
                                <div class="participants">
                                    <div class="participant">
                                        <span class="participantName1 col-7">Team 1</span>
                                        <span class="participantMatchScore col text-center">3</span>
                                    </div>
                                    <div class="participant">
                                        <span class="participantName2 col-7">Team 1</span>
                                        <span class="participantMatchScore col text-center">3</span>
                                    </div>
                                </div>
                                <span class="startTime">Date and Time</span>
                            </a>
                        </div>
                    </div>
                    <div class="connector">
                        <div class="merger"></div>
                        <div class="line"></div>
                    </div>
                </div>
                {% endfor %}
            </section>
            {% endif %}

            {% if numberOfParticipants > 63 %}
            <section class="round five">
                {% for five in range(numberOfParticipants//64) %}
                <div class="winners py-roundfive">
                    <div class="matchups">
                        <div class="matchup r5">
                            <a href="" class="text-decoration-none text-info">
                                <span class="startTime">Date and Time</span>
                                <div class="participants">
                                    <div class="participant">
                                        <span class="participantName1 col-7">Team 1</span>
                                        <span class="participantMatchScore col text-center">3</span>
                                    </div>
                                    <div class="participant">
                                        <span class="participantName2 col-7">Team 1</span>
                                        <span class="participantMatchScore col text-center">3</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="matchup r5">
                            <a href="" class="text-decoration-none text-info">
                                <div class="participants">
                                    <div class="participant">
                                        <span class="participantName1 col-7">Team 1</span>
                                        <span class="participantMatchScore col text-center">3</span>
                                    </div>
                                    <div class="participant">
                                        <span class="participantName2 col-7">Team 1</span>
                                        <span class="participantMatchScore col text-center">3</span>
                                    </div>
                                </div>
                                <span class="startTime">Date and Time</span>
                            </a>
                        </div>
                    </div>
                    <div class="connector">
                        <div class="merger"></div>
                        <div class="line"></div>
                    </div>
                </div>
                {% endfor %}
            </section>
            {% endif %}

            <section class="round final">
                <div class="winners">
                    <div class="matchups">
                        <div class="matchup final">
                            <a href="" class="text-decoration-none text-info">
                                <span class="startTime">Date and Time</span>
                                <div class="participants">
                                    <div class="participant">
                                        <span class="participantName1 col-7">Team 1</span>
                                        <span class="participantMatchScore col text-center">3</span>
                                    </div>
                                    <div class="participant">
                                        <span class="participantName2 col-7">Team 1</span>
                                        <span class="participantMatchScore col text-center">3</span>
                                    </div>
                                </div>
                            </a>
                        </div>    
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    
    var stageMatchArray = {{stageMatchArray|tojson|safe}};
    console.log(stageMatchArray);

    // roundOneMatchArray = stageMatchArray[0]
    // console.log(roundOneMatchArray);

    document.addEventListener("DOMContentLoaded", function () {

        for (let i = 0; i < stageMatchArray.length; i++) {
            if (i == (stageMatchArray.length - 1)){
                var matchups = document.querySelectorAll('.matchup.final');
                var startTimes = document.querySelectorAll('.matchup.final .startTime');
                var participantName1 = document.querySelectorAll('.matchup.final .participants .participant .participantName1');
                var participantName2 = document.querySelectorAll('.matchup.final .participants .participant .participantName2');
                var matchDetailLinks = document.querySelectorAll('.matchup.final a');
            } else {
                var matchups = document.querySelectorAll('.matchup.r' + (i+1));
                var startTimes = document.querySelectorAll('.matchup.r' + (i+1) + ' .startTime');
                var participantName1 = document.querySelectorAll('.matchup.r' + (i+1) + ' .participants .participant .participantName1');
                var participantName2 = document.querySelectorAll('.matchup.r' + (i+1) + ' .participants .participant .participantName2');
                var matchDetailLinks = document.querySelectorAll('.matchup.r' + (i+1) + ' a');
            }

            console.log(matchups)
            console.log(startTimes)
            console.log(participantName1)
            console.log(participantName2)
            console.log(matchDetailLinks)

            for (let k = 0; k < stageMatchArray[i].length; k++){
                matchups[k].id = stageMatchArray[i][k].matchID;

                var dateString = stageMatchArray[i][k].startTime
                var dateObject = new Date(dateString);
                var options = {day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', timeZone: 'UTC'}
                var formattedDate = new Intl.DateTimeFormat('en-US', options).format(dateObject);
                startTimes[k].textContent = "Start: " + formattedDate;

                matchDetailLinks[k].href = "/loadmatchdetails/{{projID}}/{{tourID}}/{{stageID}}/" + stageMatchArray[i][k].matchID

                if (stageMatchArray[i][k].matchParticipants[0].participantName){
                    participantName1[k].textContent = stageMatchArray[i][k].matchParticipants[0].participantName;
                } else {
                    participantName1[k].textContent = "TBD";
                }

                if (stageMatchArray[i][k].matchParticipants[1].participantName){
                    participantName2[k].textContent = stageMatchArray[i][k].matchParticipants[1].participantName;
                } else {
                    participantName2[k].textContent = "TBD";
                }
                
                // startTimes[k].textContent = stageMatchArray[i][k].startTime;
            }
        }
    });

</script>
{% endblock %}