{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/matchSeeding.css">

<div class="content">
    <div class="">
        <div class="d-flex align-items-center justify-content-between">
            <header class="d-flex">
                <label class="fs-4 fw-bold my-4">{{stageName}} Matches</label>
            </header>
            <a href='/match/{{projID}}/{{tourID}}' class="btn btn-secondary" role="button" aria-disabled="true">Back</a>
        </div>
        {% if stageFormatID == 1 %}
        <div class="bracket card">
            <div class="card-body">
            <section class="round one">
                {% for one in range(numberOfParticipants//4) %}
                    <div class="winners">
                        <div class="matchups">
                            <div class="matchup r1">
                                <a href="" class="text-decoration-none text-info">
                                    <span class="startTime">Date and Time</span>
                                    <div class="participants">
                                        <div class="participant">
                                            <span class="participantName1 col-7">Team 1</span>
                                            <span class="participantMatchScore1 col text-center">3</span>
                                        </div>
                                        <div class="participant">
                                            <span class="participantName2 col-7">Team 1</span>
                                            <span class="participantMatchScore2 col text-center">3</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="matchup r1">
                                <a href="" class="text-decoration-none text-info">
                                    <div class="participants">
                                        <div class="participant">
                                            <span class="participantName1 col-7">Team 1</span>
                                            <span class="participantMatchScore1 col text-center">3</span>
                                        </div>
                                        <div class="participant">
                                            <span class="participantName2 col-7">Team 1</span>
                                            <span class="participantMatchScore2 col text-center">3</span>
                                        </div>
                                    </div>
                                    <span class="startTime">Date and Time</span>
                                </a>
                            </div>
                        </div>
                        <div class="connector">
                            <div class="merger"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                {% endfor %}
            </section>

            <section class="round two">
                {% for two in range(numberOfParticipants//8) %}
                    <div class="winners py-roundtwo">
                        <div class="matchups">
                            <div class="matchup r2">
                                <a href="" class="text-decoration-none text-info">
                                    <span class="startTime">Date and Time</span>
                                    <div class="participants">
                                        <div class="participant">
                                            <span class="participantName1 col-7">Team 1</span>
                                            <span class="participantMatchScore1 col text-center">3</span>
                                        </div>
                                        <div class="participant">
                                            <span class="participantName2 col-7">Team 1</span>
                                            <span class="participantMatchScore2 col text-center">3</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="matchup r2">
                                <a href="" class="text-decoration-none text-info">
                                    <div class="participants">
                                        <div class="participant">
                                            <span class="participantName1 col-7">Team 1</span>
                                            <span class="participantMatchScore1 col text-center">3</span>
                                        </div>
                                        <div class="participant">
                                            <span class="participantName2 col-7">Team 1</span>
                                            <span class="participantMatchScore2 col text-center">3</span>
                                        </div>
                                    </div>
                                    <span class="startTime">Date and Time</span>
                                </a>
                            </div>
                        </div>
                        <div class="connector">
                            <div class="merger"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                {% endfor %}
            </section>
            
            {% if numberOfParticipants > 15 %}
            <section class="round three">
                {% for three in range(numberOfParticipants//16) %}
                <div class="winners py-roundthree">
                    <div class="matchups">
                        <div class="matchup r3">
                            <a href="" class="text-decoration-none text-info">
                                <span class="startTime">Date and Time</span>
                                <div class="participants">
                                    <div class="participant">
                                        <span class="participantName1 col-7">Team 1</span>
                                        <span class="participantMatchScore1 col text-center">3</span>
                                    </div>
                                    <div class="participant">
                                        <span class="participantName2 col-7">Team 1</span>
                                        <span class="participantMatchScore2 col text-center">3</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="matchup r3">
                            <a href="" class="text-decoration-none text-info">
                                <div class="participants">
                                    <div class="participant">
                                        <span class="participantName1 col-7">Team 1</span>
                                        <span class="participantMatchScore1 col text-center">3</span>
                                    </div>
                                    <div class="participant">
                                        <span class="participantName2 col-7">Team 1</span>
                                        <span class="participantMatchScore2 col text-center">3</span>
                                    </div>
                                </div>
                                <span class="startTime">Date and Time</span>
                            </a>
                        </div>
                    </div>
                    <div class="connector">
                        <div class="merger"></div>
                        <div class="line"></div>
                    </div>
                </div>
                {% endfor %}
            </section>
            {% endif %}
            
            {% if numberOfParticipants > 31 %}
            <section class="round four">
                {% for four in range(numberOfParticipants//32) %}
                <div class="winners py-roundfour">
                    <div class="matchups">
                        <div class="matchup r4">
                            <a href="" class="text-decoration-none text-info">
                                <span class="startTime">Date and Time</span>
                                <div class="participants">
                                    <div class="participant">
                                        <span class="participantName1 col-7">Team 1</span>
                                        <span class="participantMatchScore1 col text-center">3</span>
                                    </div>
                                    <div class="participant">
                                        <span class="participantName2 col-7">Team 1</span>
                                        <span class="participantMatchScore2 col text-center">3</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="matchup r4">
                            <a href="" class="text-decoration-none text-info">
                                <div class="participants">
                                    <div class="participant">
                                        <span class="participantName1 col-7">Team 1</span>
                                        <span class="participantMatchScore1 col text-center">3</span>
                                    </div>
                                    <div class="participant">
                                        <span class="participantName2 col-7">Team 1</span>
                                        <span class="participantMatchScore2 col text-center">3</span>
                                    </div>
                                </div>
                                <span class="startTime">Date and Time</span>
                            </a>
                        </div>
                    </div>
                    <div class="connector">
                        <div class="merger"></div>
                        <div class="line"></div>
                    </div>
                </div>
                {% endfor %}
            </section>
            {% endif %}

            {% if numberOfParticipants > 63 %}
            <section class="round five">
                {% for five in range(numberOfParticipants//64) %}
                <div class="winners py-roundfive">
                    <div class="matchups">
                        <div class="matchup r5">
                            <a href="" class="text-decoration-none text-info">
                                <span class="startTime">Date and Time</span>
                                <div class="participants">
                                    <div class="participant">
                                        <span class="participantName1 col-7">Team 1</span>
                                        <span class="participantMatchScore1 col text-center">3</span>
                                    </div>
                                    <div class="participant">
                                        <span class="participantName2 col-7">Team 1</span>
                                        <span class="participantMatchScore2 col text-center">3</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="matchup r5">
                            <a href="" class="text-decoration-none text-info">
                                <div class="participants">
                                    <div class="participant">
                                        <span class="participantName1 col-7">Team 1</span>
                                        <span class="participantMatchScore1 col text-center">3</span>
                                    </div>
                                    <div class="participant">
                                        <span class="participantName2 col-7">Team 1</span>
                                        <span class="participantMatchScore2 col text-center">3</span>
                                    </div>
                                </div>
                                <span class="startTime">Date and Time</span>
                            </a>
                        </div>
                    </div>
                    <div class="connector">
                        <div class="merger"></div>
                        <div class="line"></div>
                    </div>
                </div>
                {% endfor %}
            </section>
            {% endif %}

            <section class="round final">
                <div class="winners">
                    <div class="matchups">
                        <div class="matchup final">
                            <a href="" class="text-decoration-none text-info">
                                <span class="startTime">Date and Time</span>
                                <div class="participants">
                                    <div class="participant">
                                        <span class="participantName1 col-7">Team 1</span>
                                        <span class="participantMatchScore1 col text-center">3</span>
                                    </div>
                                    <div class="participant">
                                        <span class="participantName2 col-7">Team 1</span>
                                        <span class="participantMatchScore2 col text-center">3</span>
                                    </div>
                                </div>
                            </a>
                        </div>    
                    </div>
                </div>
            </section>
            </div>
        </div>
        {% endif %}
        {% if stageFormatID == 3 or stageFormatID == 4 %}
        <label class="fs-5 fw-bold mb-3">Group 1</label>
        <div class="card mb-3">
            <div class="card-body">
                <div>
                    <label class="fs-5 fw-bold mb-3">Ranking</label>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col" class="text-center">P</th>
                                <th scope="col" class="text-center">W</th>
                                <th scope="col" class="text-center">D</th>
                                <th scope="col" class="text-center">L</th>
                                <th scope="col" class="text-center">SF</th>
                                <th scope="col" class="text-center">SA</th>
                                <th scope="col" class="text-center">+/-</th>
                                <th scope="col" class="text-center">Pts</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <td class="align-middle">Manchester United FC</td>
                                <td class="align-middle text-center">3</td>
                                <td class="align-middle text-center">3</td>
                                <td class="align-middle text-center">0</td>
                                <td class="align-middle text-center">0</td>
                                <td class="align-middle text-center">6</td>
                                <td class="align-middle text-center">3</td>
                                <td class="align-middle text-center">+3</td>
                                <td class="align-middle text-center">9</td>
                            </tr>
                            <tr class="">
                                <td class="align-middle">Liverpool FC</td>
                                <td class="align-middle text-center">3</td>
                                <td class="align-middle text-center">0</td>
                                <td class="align-middle text-center">3</td>
                                <td class="align-middle text-center">0</td>
                                <td class="align-middle text-center">3</td>
                                <td class="align-middle text-center">6</td>
                                <td class="align-middle text-center">-3</td>
                                <td class="align-middle text-center">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body d-flex flex-column">
                <div class="mb-3">
                    <label class="mb-2 fw-bold">Round 1</label>
                    <div class="d-flex flex-row">
                        <div class="p-1">
                            <span class="startTime">Date and Time</span>
                            <div class="card">
                                <div class="card-body">
                                    <a href="" class="text-decoration-none text-info">
                                        <div class="">
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="p-1">
                            <span class="startTime">Date and Time</span>
                            <div class="card">
                                <div class="card-body">
                                    <a href="" class="text-decoration-none text-info">
                                        <div class="">
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="p-1">
                            <span class="startTime">Date and Time</span>
                            <div class="card">
                                <div class="card-body">
                                    <a href="" class="text-decoration-none text-info">
                                        <div class="">
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="p-1">
                            <span class="startTime">Date and Time</span>
                            <div class="card">
                                <div class="card-body">
                                    <a href="" class="text-decoration-none text-info">
                                        <div class="">
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="p-1">
                            <span class="startTime">Date and Time</span>
                            <div class="card">
                                <div class="card-body">
                                    <a href="" class="text-decoration-none text-info">
                                        <div class="">
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="p-1">
                            <span class="startTime">Date and Time</span>
                            <div class="card">
                                <div class="card-body">
                                    <a href="" class="text-decoration-none text-info">
                                        <div class="">
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="p-1">
                            <span class="startTime">Date and Time</span>
                            <div class="card">
                                <div class="card-body">
                                    <a href="" class="text-decoration-none text-info">
                                        <div class="">
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="p-1">
                            <span class="startTime">Date and Time</span>
                            <div class="card">
                                <div class="card-body">
                                    <a href="" class="text-decoration-none text-info">
                                        <div class="">
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="mb-3">
                    <label class="mb-2 fw-bold">Round 2</label>
                    <div class="d-flex flex-row">
                        <div class="p-1">
                            <span class="startTime">Date and Time</span>
                            <div class="card">
                                <div class="card-body">
                                    <a href="" class="text-decoration-none text-info">
                                        <div class="">
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="p-1">
                            <span class="startTime">Date and Time</span>
                            <div class="card">
                                <div class="card-body">
                                    <a href="" class="text-decoration-none text-info">
                                        <div class="">
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="p-1">
                            <span class="startTime">Date and Time</span>
                            <div class="card">
                                <div class="card-body">
                                    <a href="" class="text-decoration-none text-info">
                                        <div class="">
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="p-1">
                            <span class="startTime">Date and Time</span>
                            <div class="card">
                                <div class="card-body">
                                    <a href="" class="text-decoration-none text-info">
                                        <div class="">
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                            <div class="">
                                                <span class="">Team 1</span>
                                                <span class="">3</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<script>
    
    var stageMatchArray = {{stageMatchArray|tojson|safe}};
    console.log(stageMatchArray);

    // roundOneMatchArray = stageMatchArray[0]
    // console.log(roundOneMatchArray);

    document.addEventListener("DOMContentLoaded", function () {

        for (let i = 0; i < stageMatchArray.length; i++) {
            if (i == (stageMatchArray.length - 1)){
                var matchups = document.querySelectorAll('.matchup.final');
                var startTimes = document.querySelectorAll('.matchup.final .startTime');
                var participantName1 = document.querySelectorAll('.matchup.final .participants .participant .participantName1');
                var participantName2 = document.querySelectorAll('.matchup.final .participants .participant .participantName2');
                var participantScore1 = document.querySelectorAll('.matchup.final .participants .participant .participantMatchScore1');
                var participantScore2 = document.querySelectorAll('.matchup.final .participants .participant .participantMatchScore2');
                var matchDetailLinks = document.querySelectorAll('.matchup.final a');
            } else {
                var matchups = document.querySelectorAll('.matchup.r' + (i+1));
                var startTimes = document.querySelectorAll('.matchup.r' + (i+1) + ' .startTime');
                var participantName1 = document.querySelectorAll('.matchup.r' + (i+1) + ' .participants .participant .participantName1');
                var participantName2 = document.querySelectorAll('.matchup.r' + (i+1) + ' .participants .participant .participantName2');
                var participantScore1 = document.querySelectorAll('.matchup.r' + (i+1) + ' .participants .participant .participantMatchScore1');
                var participantScore2 = document.querySelectorAll('.matchup.r' + (i+1) + ' .participants .participant .participantMatchScore2');
                var matchDetailLinks = document.querySelectorAll('.matchup.r' + (i+1) + ' a');
            }

            console.log(matchups)
            console.log(startTimes)
            console.log(participantName1)
            console.log(participantName2)
            console.log(matchDetailLinks)

            for (let k = 0; k < stageMatchArray[i].length; k++){
                matchups[k].id = stageMatchArray[i][k].matchID;
                
                var dateString = stageMatchArray[i][k].startTime
                if (dateString == null){
                    startTimes[k].textContent = "Start: TBD";
                } else {
                    var dateObject = new Date(dateString);
                    var options = {day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', timeZone: 'UTC'}
                    var formattedDate = new Intl.DateTimeFormat('en-US', options).format(dateObject);
                    startTimes[k].textContent = "Start: " + formattedDate;
                }
              
                matchDetailLinks[k].href = "/loadmatchdetails/{{projID}}/{{tourID}}/{{stageID}}/" + stageMatchArray[i][k].matchID
                
                //Partcipant Name
                if (stageMatchArray[i][k].matchParticipants[0].participantName){
                    participantName1[k].textContent = stageMatchArray[i][k].matchParticipants[0].participantName;
                } else {
                    participantName1[k].textContent = "TBD";
                }

                if (stageMatchArray[i][k].matchParticipants[1].participantName){
                    participantName2[k].textContent = stageMatchArray[i][k].matchParticipants[1].participantName;
                } else {
                    participantName2[k].textContent = "TBD";
                }

                //Partcipant Score
                participantScore1[k].textContent = stageMatchArray[i][k].matchParticipants[0].matchScore;
                participantScore2[k].textContent = stageMatchArray[i][k].matchParticipants[1].matchScore;
                
            }
        }
    });

</script>
{% endblock %}