{% extends "layout.html" %}

{% block content %}
    <div class="container h-100 navbarcontentpadding">
        <div class="dropdown">
            <div class="d-flex justify-content-between">
                <label class="fs-4 fw-bold my-4">Structure</label>
                <a href="/createStage/{{projID}}/{{tourID}}" class="btn btn-primary my-4" role="button" aria-disabled="true">Create Stage</a>
            </div>
            <div>
                {{stageList | safe}}
            </div>
        </div>
    </div>
<script>
    function deleteStage(projID, tourID, stageID) {
        console.log(tourID);
        console.log(stageID);

        fetch('/deleteStage/'+projID+'/'+tourID+'/'+stageID, {
            method: 'POST',
        })
        .then(response => {})
        .then(data => {
        // Handle the response data as needed
            console.log("handling response")
        // Reload the page after the delete operation
            window.location.reload();
        })
        .catch(error => {
            // Handle errors
        });
    }
</script>
</html>

{% endblock %}

