{% extends "layout.html" %}

{% block content %}
<div class="container h-100 navbarcontentpadding">
    <h2 for="search-input" class="text-center pt-3">Projects</h2>
    <div class="d-flex justify-content-center py-3">
        <input type="text" placeholder="Search..." class="search-input">
        <button onclick="location.href='/createProjAdmin'" class="btn btn-success">Create Project</button>
    </div>
    <div class="row justify-content-center">
        <ul class="list-group">
            {% for projects in projectslist %}
                <li class="list-group-item align-items-center">
                    <div class="col-4 projName">{{projects['projName']}}</div>
                    <div class="col-4 text-center">
                        Status: {% if projects['statusID'] == 4 %} Pending {% elif projects['statusID'] == 3 %} Ended {% elif projects['statusID'] == 2 %} Ongoing {% elif projects['statusID'] == 5 %} Suspended {% elif projects['statusID'] == '' or projects['statusID'] == None %} None {% endif %}
                    </div>
                    <div class="col-4 editbutton d-flex justify-content-end">
                        <a href="/projAdminSetting/{{projects['projID']}}" class="btn btn-primary my-4" role="button">Edit</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.querySelector('.search-input');
        const projNameElements = document.querySelectorAll('.projName');
        const listgroupElements = document.querySelectorAll('.list-group-item');

        searchInput.addEventListener('input', function() {

            const searchText = this.value.toLowerCase();

            listgroupElements.forEach(listgroupElement => {
                const projName = listgroupElement.querySelector('.projName').textContent.toLowerCase();
                
                if (projName.includes(searchText)) {
                    listgroupElement.style.display = 'flex'; // Show the item if the search text is found
                } else {
                    listgroupElement.style.display = 'none'; // Hide the item if the search text is not found
                }
            });
        });
    });
</script>

{% endblock %}