{% extends "layout.html" %}

{% block content %}

   <main style="padding-top: 350px;padding-left: 300px">
      <header>
         <h2 style="position:absolute;top:100px">Participant</h2>
         <a href="/tournamentCreateParticipant">
         <button type="submit" class="btn btn-primary" style="position:absolute;top:100px;right:100px">Add</button>
         </a>
      </header>
      <div class="participantsize">         
         <h4 style="position:absolute;top:200px;left:500px">Participant Size</h4>         
         <h4 style="position:absolute;top:250px;left:570px">{{ total_participants }}</h4>
      </div>
      <div class="tournamentsize">      
         <h4 style="position:absolute;top:200px;right:350px">Tournament Size</h4>         
         <h4 style="position:absolute;top:250px;right:430px">{{ tournamentSize }}</h4>
      </div>
      <table class="table table-borderless">
         <thead>
             <tr>
                 <th>Team Name</th>
                 <th>Team Players</th>
                 <th>Email</th>
                 <th></th>
                 <th></th>
             </tr>
         </thead>
         <tbody>
             {% for participant in participants %}
                 <tr>
                     <td>{{ participant.participantName }}</td>
                     <td>{{ participant.playerNames }}</td>
                     <td>{{ participant.participantEmail }}</td>
                     <td><i class="bi bi-pen"></i></td>
                     <td><i class="bi bi-trash"></i></td>
                 </tr>
             {% endfor %}
         </tbody>
     </table>
   </main>

{% endblock %}