<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Soccer Dashboard</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="randomstyle.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
   <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body> 
   <nav>
      <input type="checkbox" id="check">
      <label for="check">
         <i class="fas fa-bars" id="btn"></i>
         <i class="fas fa-times" id="cancel"></i>
      </label>
      <label class="logo">Game Sphere</label>
      <ul>
         <li><a href="#"><i class="fas fa-user-circle"></i></a></li>
      </ul>
      <div class="sidebar">
         <header>
            <h2>Soccer</h2>
         </header>   
         <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Setting</a></li>
            <li><a href="#">Structure</a></li>
            <li><a href="#">Registration</a></li>
            <li><a href="#">Participant</a></li>
            <li><a href="#">Placement</a></li>
            <li><a href="#">Match</a></li>
            <li><a href="#">Final Standing</a></li>
            <li><a href="#">Public Page</a></li>
         </ul>
      </div>
   </nav>

   <main>
      <header>
         <h2>Participant</h2>
         <a href="https://www.google.com">
         <button style="background-color:rgb(0, 216, 205);color:black">Add</button>
         </a>
      </header>
      <div class="participantsize">         
         <a href="#"><h2>Participant</h2></a>         
         <a href="#"><h2>6</h2></a>
      </div>
      <div class="tournamentsize">      
         <a href="#"><h2>Tournament Size</h2></a>         
         <a href="#"><h2>32</h2></a>
      </div>
      <table class="participantlist">
         <tr>
            <th>List of participants</th>
         </tr> 
         <tr>
            <th>Name</th>
            <th>Email</th>
         </tr> 
         <tbody id="myParticipant">

         </tbody>
      </table>
   </main>

</body>
</html>


<tr>
   <a href="#"><h2>Name</h2></a>         
   <h2>Man United</h2><a href="#"><i class="fa-solid fa-people-group"></i></a>
   <h2>Man City</h2><a href="#"><i class="fa-solid fa-people-group"></i></a>
   <h2>Liverpool</h2><a href="#"><i class="fa-solid fa-people-group"></i></a>
   <h2>Chelsea</h2><a href="#"><i class="fa-solid fa-people-group"></i></a>
   <h2>Tottenham</h2><a href="#"><i class="fa-solid fa-people-group"></i></a>
</tr>
<tr>
   <a href="#"><h2>Email</h2></a>         
   <a href="#"><h2>manunited@gmail.com</h2></a>    
   <a href="#"><h2>mancity@gmail.com</h2></a>    
   <a href="#"><h2>liverpool@gmail.com</h2></a>    
   <a href="#"><h2>chelsea@gmail.com</h2></a>    
   <a href="#"><h2>tottenham@gmail.com</h2></a>
</tr>