{% extends "layout.html" %}

{% block content %}

    <div class="content">
        <div class="search-container">
            <label for="search-input">Tournaments</label>
            <input type="text" placeholder="Search...">
            <button class="open-form-btn" onclick="location.href='/createTour'">Create</button>
        </div>
        <div class="form-container" id="myForm">
            <h2>Tournament Form</h2>
            <form action="/submit_tournament" method="post">
                <label for="tournament_name">Tournament Name:</label>
                <input type="text" id="tournament_name" name="tournament_name"><br><br>

                <label for="date">Date:</label>
                <input type="date" id="date" name="date"><br><br>

                <label for="location">Location:</label>
                <input type="text" id="location" name="location"><br><br>

                <label for="description">Description:</label><br>
                <textarea id="description" name="description" rows="4" cols="50"></textarea><br><br>

                <input type="submit" value="Create Tournament">
            </form>
            <button onclick="closeForm()">Close</button>
        </div>
        
        {% for t in tournamentlist %}
            <a href="/tournamentOverviewPage/{{t['tourID']}}" class="boxlink">
                <div class="box">
                    <img src="https://drive.google.com/uc?export=view&id={{t['tourImageID']}}" class="tourImage">
                    <p>{{t['tourName']}}</p>
                </div>
            </a>
        {% endfor %}

    </div>

    <script>
        // JavaScript to open and close the form
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>

{% endblock %}