{% extends "publicNav.html" %}

{% block content %}

<div class="content loginNavPadding">
    <div class="search-container">
        <label for="search-input">Tournaments</label>
        <input type="text" placeholder="Search...">
    </div>
    
    {% for t in tournamentlist %}
        <a href="/tournamentOverviewPublic/{{t['tourID']}}" class="boxlink">
            <div class="box">
                {% if t['tourImageID'] %}
                <img src="https://drive.google.com/thumbnail?id={{t['tourImageID']}}" class="tourImage">
                {% else %}
                    <!-- Image placeholder -->
                    <img src="https://via.placeholder.com/320/F9F9F9?text=Please+Upload+Image" alt="">
                {% endif %}
                <p>{{t['tourName']}}</p>
            </div>
        </a>
    {% endfor %}

</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.querySelector('.search-container input');
        const boxLinks = document.querySelectorAll('.boxlink');

        searchInput.addEventListener('input', function () {
            const searchText = searchInput.value.toLowerCase().trim();

            boxLinks.forEach(function (boxLink) {
                const projectName = boxLink.querySelector('p').textContent.toLowerCase();
                if (projectName.includes(searchText)) {
                    boxLink.style.display = 'block';
                } else {
                    boxLink.style.display = 'none';
                }
            });
        });
    });
</script>
{% endblock %}