<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Soccer Dashboard</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../static/css/tournamentDashboardStyle.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
   <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body> 
   <nav>
      <input type="checkbox" id="check">
      <label for="check">
         <i class="fas fa-bars" id="btn"></i>
         <i class="fas fa-times" id="cancel"></i>
      </label>
      <label class="logo">Game Sphere</label>
      <ul>
         <li><a href="#"><i class="fas fa-user-circle"></i></a></li>
      </ul>
      <div class="sidebar">
         <header>
            <h2>Soccer</h2>
         </header>   
         <ul>
            <li><a href="#">Dashboard</a></li>
            <li>      
               <a href="#dropdown">      
                  <span>Setting</span>
                  <i class="fas fa-angle-right" id="showdropdown"></i>
               </a>
               <!--dropdown-->
               <ul>
                  <li><a href="#">General</a></li>
                  <li><a href="#">Permission</a></li>
                  <li><a href="#">Custom Field</a></li>              
               </ul>
            </li>
            <li><a href="#">Structure</a></li>
            <li><a href="#">Registration</a></li>
            <li><a href="#">Participant</a></li>
            <li><a href="#">Placement</a></li>
            <li><a href="#">Match</a></li>
            <li><a href="#">Final Standing</a></li>
            <li><a href="#">Public Page</a></li>
            <li><a href="#">Media</a></li>
            <li><a href="#">Dashboard</a></li>
         </ul>
      </div>
   </nav>

   <main>
      <header>
         <h2>Dashboard</h2>
      </header>
      <div class="box">
         <a href="#"><h2>Status</h2></a>
         <p>By default, the linked page will be displayed in the current browser window. To change this, you must specify another target for the link.

            The target attribute specifies where to open the linked document.
            
            The target attribute can have one of the following values:
            
            _self - Default. Opens the document in the same window/tab as it was clicked
            _blank - Opens the document in a new window or tab
            _parent - Opens the document in the parent frame
            _top - Opens the document in the full body of the window
         </p>
      </div>
      <div class="box">
         <a href="/tournamentParticipant"><h2>Participant</h2></a>
         <p>By default, the linked page will be displayed in the current browser window. To change this, you must specify another target for the link.

            The target attribute specifies where to open the linked document.
            
            The target attribute can have one of the following values:
            
            _self - Default. Opens the document in the same window/tab as it was clicked
            _blank - Opens the document in a new window or tab
            _parent - Opens the document in the parent frame
            _top - Opens the document in the full body of the window
         </p>
      </div>
      <div class="box">
         <a href="#"><h2>Structure</h2></a>
         <p>By default, the linked page will be displayed in the current browser window. To change this, you must specify another target for the link.

            The target attribute specifies where to open the linked document.
            
            The target attribute can have one of the following values:
            
            _self - Default. Opens the document in the same window/tab as it was clicked
            _blank - Opens the document in a new window or tab
            _parent - Opens the document in the parent frame
            _top - Opens the document in the full body of the window
         </p>
      </div>
      <div class="box">
         <a href="#"><h2>Registration</h2></a>
         <p>By default, the linked page will be displayed in the current browser window. To change this, you must specify another target for the link.

            The target attribute specifies where to open the linked document.
            
            The target attribute can have one of the following values:
            
            _self - Default. Opens the document in the same window/tab as it was clicked
            _blank - Opens the document in a new window or tab
            _parent - Opens the document in the parent frame
            _top - Opens the document in the full body of the window
         </p>
      </div>
      <div class="box">
         <a href="#"><h2>Placement</h2></a>
         <p>By default, the linked page will be displayed in the current browser window. To change this, you must specify another target for the link.

            The target attribute specifies where to open the linked document.
            
            The target attribute can have one of the following values:
            
            _self - Default. Opens the document in the same window/tab as it was clicked
            _blank - Opens the document in a new window or tab
            _parent - Opens the document in the parent frame
            _top - Opens the document in the full body of the window
         </p>
      </div>      
      <div class="box">
         <a href="#"><h2>Match</h2></a>
         <p>By default, the linked page will be displayed in the current browser window. To change this, you must specify another target for the link.

            The target attribute specifies where to open the linked document.
            
            The target attribute can have one of the following values:
            
            _self - Default. Opens the document in the same window/tab as it was clicked
            _blank - Opens the document in a new window or tab
            _parent - Opens the document in the parent frame
            _top - Opens the document in the full body of the window
         </p>
      </div>
   </main>

</body>
</html>